*{
    margin: 0;
    padding: 0;
}

body{
    color: black;
    font-family: "Open Sans", sans-serif;
}

img{
    width: 10rem;
    height: 10rem;
}

header{
    background-color: black;
    color: white;
    width: 100vw;
    height: 100vh;
}

a{
    text-decoration: none;
    color: white;
}

.heading{
    display: flex;
    flex-direction: row;
    gap: 37rem;
}

/** The page name **/
.name{
    margin-left: 1rem;
}

.name > h1{
    font-size: 5rem;
    font-weight: 400;
    font-family: "armata", sans-serif;
}

/** Company name **/
.logo{
    margin-left: -37rem;
    margin-top: 1rem;
}

.logo > img{
    width: 5rem;
    height: 5rem;
}

/** Navigation link at the top of the home page**/
.link{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 2.5rem;
}

.link > h4 > a{
    font-weight: 100;
}

.dropdown{
	position: relative;
	display: inline-block;
    margin-top: -0.9rem;

}

/** for the services nav button **/
.dropdown-content{
	display: none;
	position: absolute;
    margin-left: -9rem;
    margin-top: -1rem;
	background-color: black;
	min-width: 16rem;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	z-index: 1;
}

/** for the explore nav button **/
.dropdown-content2{
    display: none;
	position: absolute;
    margin-left: -5rem;
    margin-top: -1rem;
	background-color: black;
	min-width: 10rem;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	z-index: 1;
}

/** for the contact nav button **/
.dropdown-content3{
    display: none;
	position: absolute;
    margin-left: -5rem;
    margin-top: -1rem;
	background-color: black;
	min-width: 10rem;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	z-index: 1;
}

/** for the service nav button **/
.dropdown-content > a{
	color: white;
	padding: 1rem 1rem;
	text-decoration: none;
	display: block;
    font-weight: 100;
}

/** For the explore nav button **/
.dropdown-content2 > a{
    color: white;
	padding: 1rem 1rem;
	text-decoration: none;
	display: block;
    font-weight: 100;
}

/** for the contact nav button **/
.dropdown-content3 > a{
    color: white;
	padding: 1rem 1rem;
	text-decoration: none;
	display: block;
    font-weight: 100;
}

/** for the service nav button **/
.dropdown-content > a:hover{
	background-color: gray;
}

/** for the explore nav button **/
.dropdown-content2 > a:hover{
    background-color: gray;
}

/** for the contact nav button **/
.dropdown-content3 > a:hover{
    background-color: gray;
}

/** for the service nav button **/
.dropdown:hover .dropdown-content{
	display: block;
}

/** for the explore nav button **/
.dropdown:hover .dropdown-content2{
    display: block;
}

/** for the contact nav button **/
.dropdown:hover .dropdown-content3{
    display: block;
}

.dropbtn{
	background-color: black;
	color: white;
	padding: 16px;
	font-size: 1rem;
    font-weight: 100;
	border: none;
	cursor: pointer;
}

/** the welcome notes in the landing page **/
.heading2{
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "Aubrey", system-ui;
    margin-top: 6rem;
    margin-left: 6rem;
}

.heading3{
    font-size: 1.5rem;
    width: 42rem;
    margin-left: 2rem;
    margin-top: 1rem;
}

/** section style begins **/
.portfolio-heading{
    background-color: #b7b3b3;
    color: #000000;
    width: 100vw;
    height: 370vh;
}

/** the first section heading **/
.sub-portfolio-heading1 > h2{
    font-size: 2.7rem;
    color: #000000;
    position: relative;
    top: 4rem;
    font-weight: 100;
    margin-left: 3rem;
    width: 35rem;
}

.sub-portfolio-heading2{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-left: 1.5rem;
    margin-top: 6rem;
    
}

.sub-portfolio-heading2 > p{
    color: #000000;
    font-size: 1.5rem;
    font-weight: 100;
}

/** the project images **/
.work-image > img{
    width: 20rem;
    height: 25rem;
}

.work-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 2rem;
    justify-items: center;
}

/** the second section heading **/
.collaborate{
    background-color: #12100f;
    width: 100vw;
    height: 120vh;
    color: white;
}

.collaborate > h3{
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    top: 4rem;
    font-weight: 100;
}

.collaborate > h2{
    font-size: 3rem;
    text-align: center;
    margin-top: 5rem;
    font-weight: 100;
}

.collaborate > p{
    margin-left: 37.5rem;
    margin-top: 4rem;
    text-align: center;
    align-content: center;
    background-color: #b7b3b3;
    height: 3rem;
    width: 10rem;
}

/** footer begins **/
footer{
    background-color: white;
    width: 100vw;
    height: 45vh;
}

.icons > a > img{
    width: 2rem;
    height: 2rem;
    margin-top: 0.7rem;
    margin-bottom: 0.5rem;
}

.icons{
    display: flex;
    flex-direction: row;
    gap: 18rem;
    margin-left: 1rem;
}

.line{
    width: 12rem;
    height: 0rem;
    rotate: 90deg;
    margin-left: 40rem;
    margin-top: -7rem;
    background-color: black;
    border-color: black;
}

.line2{
    width: 80rem;
    background-color: black;
    border-color: black;
    height: 0rem;
    margin-left: 2rem;
}

.table{
    margin-left: 50rem;
    margin-bottom: 1rem;
}

.table > table{
    width: 35rem;
    height: 14rem;
    
}

.table > table > thead > tr > th{
    font-weight: bolder;
    text-align: left;
    font-size: 1.5rem;
}

.table > table > tbody > tr > td >{
    text-align: left;
}

.table1{
    position: relative;
    left: 4.5rem;
}

td > a{
    color: black;
}

.terms{
    display: flex;
    flex-direction: row;
    gap: 50rem;
}

.terms > a > img{
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
    position: relative;
    bottom: 2.5rem;
}

.terms1{
    margin-left: -52rem;
    /**word-spacing: rem;**/
}

.terms > h3{
    font-weight: 100;
    font-size: 1rem;
    align-content: center;
}

.terms > h3 > a{
    color: black;
}


