*{
    margin: 0;
    padding: 0;
}

body{
    color: black;
    font-family: "Open Sans", sans-serif;
}

img{
    width: 10rem;
    height: 10rem;
}

header{
    background-color: black;
    color: white;
    width: 100vw;
    height: 100vh;
}

a{
    text-decoration: none;
    color: #ffffff;
}

.heading{
    display: flex;
    flex-direction: row;
    gap: 37rem;
}

/** The page name **/
.name{
    margin-left: 1rem;
}

.name > h1{
    font-size: 5rem;
    font-weight: 400;
    font-family: "armata", sans-serif;
}

/** Company name **/
.logo{
    margin-left: -37rem;
    margin-top: 1rem;
}

.logo > img{
    width: 5rem;
    height: 5rem;
}

/** Navigation link at the top of the home page**/
.link{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 2.5rem;
}

.link > h4 > a{
    font-weight: 100;
}

.dropdown{
	position: relative;
	display: inline-block;
    margin-top: -0.9rem;

}

/** for the services nav button **/
.dropdown-content{
	display: none;
	position: absolute;
    margin-left: -9rem;
    margin-top: -1rem;
	background-color: black;
	min-width: 16rem;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	z-index: 1;
}

/** for the explore nav button **/
.dropdown-content2{
    display: none;
	position: absolute;
    margin-left: -5rem;
    margin-top: -1rem;
	background-color: black;
	min-width: 10rem;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	z-index: 1;
}

/** for the contact nav button **/
.dropdown-content3{
    display: none;
	position: absolute;
    margin-left: -5rem;
    margin-top: -1rem;
	background-color: black;
	min-width: 10rem;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	z-index: 1;
}

/** for the service nav button **/
.dropdown-content > a{
	color: white;
	padding: 1rem 1rem;
	text-decoration: none;
	display: block;
    font-weight: 100;
}

/** For the explore nav button **/
.dropdown-content2 > a{
    color: white;
	padding: 1rem 1rem;
	text-decoration: none;
	display: block;
    font-weight: 100;
}

/** for the contact nav button **/
.dropdown-content3 > a{
    color: white;
	padding: 1rem 1rem;
	text-decoration: none;
	display: block;
    font-weight: 100;
}

/** for the service nav button **/
.dropdown-content > a:hover{
	background-color: gray;
}

/** for the explore nav button **/
.dropdown-content2 > a:hover{
    background-color: gray;
}

/** for the contact nav button **/
.dropdown-content3 > a:hover{
    background-color: gray;
}

/** for the service nav button **/
.dropdown:hover .dropdown-content{
	display: block;
}

/** for the explore nav button **/
.dropdown:hover .dropdown-content2{
    display: block;
}

/** for the contact nav button **/
.dropdown:hover .dropdown-content3{
    display: block;
}

.dropbtn{
	background-color: black;
	color: white;
	padding: 16px;
	font-size: 1rem;
    font-weight: 100;
	border: none;
	cursor: pointer;
}

/** the welcome notes in the landing page **/
.heading2{
    align-content: baseline;
}

.sub-heading2 > h3{
    font-weight: 100;
    text-align: center;
}

.sub-heading3 > p{
    font-size: 2.5rem;
    font-weight: 100;
    text-align: center;
    margin-top: 1.5rem;
}

.sub-heading4 > p{
    font-weight: 100;
    text-align: center;
    margin-top: 1.5rem;
}

/** section begins **/
.workplan{
    background-color: #d9d9d9;
    width: 100vw;
}

/** The discription and examples **/ 
.workplan2{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    position: relative;
    top: 4rem;
}

.basic{
    background-color: #707070;
    color: black;
    width: 25rem;
    height: 33rem;
    border-top-left-radius: 1.7rem;
    border-top-right-radius: 1.7rem;
    border-bottom-left-radius: 1.7rem;
    border-bottom-right-radius: 1.7rem;
}

.basic > h2{
    text-align: center;
    font-size: 2.7rem;
    margin-top: 1rem;
}

.basic > h3{
    text-align: center;
    font-size: 1.3rem;
}

hr{
    width: 20.2rem;
    height: 0.1rem;
    background-color: white;
    margin-left: 2.3rem;
}

.basic > h4{
    text-align: center;
    margin-top: 0.6rem;
    font-size: 2.5rem;
    word-spacing: -1rem;
}

.basic > h5{
    text-align: center;
    font-size: 1rem;
    word-spacing: -0.2rem;
    background-color: #d9d9d9;
    width: 14rem;
    height: 1.5rem;
    align-content: center;
    border-radius: 2rem;
    margin-left: 5rem;
    color: black;
}
.basic > h5 > a{
    color: black;
}

.basic > ul{
    margin-left: 2.7rem;
    line-height: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

.standard{
    background-color: #373339;
    color: white;
    width: 25rem;
    height: 39rem;
    border-top-left-radius: 1.7rem;
    border-top-right-radius: 1.7rem;
    border-bottom-left-radius: 1.7rem;
    border-bottom-right-radius: 1.7rem;
}

.standard > h2{
    text-align: center;
    font-size: 2.7rem;
    margin-top: 1rem;
}

.standard > h3{
    text-align: center;
    font-size: 1.3rem;
}

.standard > h4{
    text-align: center;
    margin-top: 0.6rem;
    font-size: 2.5rem;
    word-spacing: -1rem;
}

.standard > h5{
    text-align: center;
    font-size: 1rem;
    word-spacing: -0.2rem;
    background-color: #d9d9d9;
    width: 14rem;
    height: 1.5rem;
    align-content: center;
    border-radius: 2rem;
    margin-left: 5rem;
    color: black; 
}
.standard > h5 > a{
    color: black;
}

.standard > ul{
    margin-left: 2.7rem;
    line-height: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

.premium{
    background-color: #1d1d1e;
    color: white;
    width: 25rem;
    border-top-left-radius: 1.7rem;
    border-top-right-radius: 1.7rem;
    border-bottom-left-radius: 1.7rem;
    border-bottom-right-radius: 1.7rem;
}

.premium > h2{
    text-align: center;
    font-size: 2.7rem;
    margin-top: 1rem;
}

.premium > h3{
    text-align: center;
    font-size: 1.3rem;
}

.premium > hr{
    width: 18rem;
    margin-left: 3.5rem;
}

.premium > h4{
    text-align: center;
    margin-top: 0.6rem;
    font-size: 2.5rem;
    word-spacing: -1rem;
}

.premium > h5{
    text-align: center;
    font-size: 1rem;
    word-spacing: -0.2rem;
    background-color: #d9d9d9;
    width: 14rem;
    height: 1.5rem;
    align-content: center;
    border-radius: 2rem;
    margin-left: 5rem;
    color: black; 
}
.premium > h5 > a{
    color: black;
}

.premium > ul{
    margin-left: 2.7rem;
    line-height: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

/** the second section part **/
.workplan3{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 5rem;
}

.sub-workplan3a{
    margin-top: 3rem;
}

.sub-workplan3a > h2{
    font-size: 2rem;
    font-weight: 100;
    width: 25rem;
}

.sub-workplan3a > p{
    margin-top: 3rem;
    font-weight: 100;
}

.sub-workplan3b > ol > li{
    background-color: #ffffff;
    width: 40rem;
    height: 4rem;
    align-content: center;
    color: #000000;
    border-radius: 2rem;
}





