*{
    margin: 0;
    padding: 0;
}

body{
    color: black;
    font-family: "Open Sans", sans-serif;
}

img{
    width: 10rem;
    height: 10rem;
}

header{
    background-color: black;
    color: white;
    width: 100vw;
    height: 100vh;
}

a{
    text-decoration: none;
    color: white;
    
}

.heading{
    display: flex;
    flex-direction: row;
    gap: 37rem;
}

/** The page name **/
.name{
    margin-left: 1rem;
}

.name > h1{
    font-size: 5rem;
    font-weight: 400;
    font-family: "armata", sans-serif;
}

/** Company name **/
.logo{
    margin-left: -37rem;
    margin-top: 1rem;
}

.logo > img{
    width: 5rem;
    height: 5rem;
}

/** Navigation link at the top of the home page**/
.link{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 2.5rem;
}

.link > h4 > a{
    font-weight: 100;
}

.dropdown{
	position: relative;
	display: inline-block;
    margin-top: -0.9rem;

}

/** for the services nav button **/
.dropdown-content{
	display: none;
	position: absolute;
    margin-left: -9rem;
    margin-top: -1rem;
	background-color: black;
	min-width: 16rem;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	z-index: 1;
}

/** for the explore nav button **/
.dropdown-content2{
    display: none;
	position: absolute;
    margin-left: -5rem;
    margin-top: -1rem;
	background-color: black;
	min-width: 10rem;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	z-index: 1;
}

/** for the contact nav button **/
.dropdown-content3{
    display: none;
	position: absolute;
    margin-left: -5rem;
    margin-top: -1rem;
	background-color: black;
	min-width: 10rem;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	z-index: 1;
}

/** for the service nav button **/
.dropdown-content > a{
	color: white;
	padding: 1rem 1rem;
	text-decoration: none;
	display: block;
    font-weight: 100;
}

/** For the explore nav button **/
.dropdown-content2 > a{
    color: white;
	padding: 1rem 1rem;
	text-decoration: none;
	display: block;
    font-weight: 100;
}

/** for the contact nav button **/
.dropdown-content3 > a{
    color: white;
	padding: 1rem 1rem;
	text-decoration: none;
	display: block;
    font-weight: 100;
}

/** for the service nav button **/
.dropdown-content > a:hover{
	background-color: gray;
}

/** for the explore nav button **/
.dropdown-content2 > a:hover{
    background-color: gray;
}

/** for the contact nav button **/
.dropdown-content3 > a:hover{
    background-color: gray;
}

/** for the service nav button **/
.dropdown:hover .dropdown-content{
	display: block;
}

/** for the explore nav button **/
.dropdown:hover .dropdown-content2{
    display: block;
}

/** for the contact nav button **/
.dropdown:hover .dropdown-content3{
    display: block;
}

.dropbtn{
	background-color: black;
	color: white;
	padding: 16px;
	font-size: 1rem;
    font-weight: 100;
	border: none;
	cursor: pointer;
}

/** the welcome notes in the landing page **/
.heading2{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-left: 1.5rem;
}

.heading3{
    font-size: 1.5rem;
    width: 40rem;
    margin-left: 3rem;
}

/** section page begins **/

/** service heading **/
.service-heading{
    display: flex;
    flex-direction: row;
    gap: -5rem;
    background-color: #707070;
    width: 100vw;
    height: 5rem;
}

.service-heading > p{
    align-content: center;
    margin-left: 10rem;
}

.service-heading > p >a{
    color: black;
}

/** The design service **/

.service1{
    background-color: #373339;
    color: black;
    width: 100vw;
    height: 105vh;
}

.service1 > h2{
    font-size: 4.5rem;
    font-family: "Aubrey", system-ui;
    margin-left: 5rem;
    position: relative;
    top: 1.5rem;
    right: 3rem;
}

/** The grid layout for the design service **/
.sub-service1 > div > div > img{
    width: 2rem;
    height: 2rem;
}

.sub-service1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 3rem;
    margin: 5rem;
    
}

/** Heading for each design service **/
.sub-inline-heading{
    font-size: 2rem;
}

/** The explanation for the design services **/
.sub-inline-note{
    width: 20rem;
}

/** To make the image and text inline in the design service **/
.inline-heading{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

/** The development service **/

.service2{
    background-color: #d9d9d9;
    color: black;
    width: 100vw;
    height: 60vh; 
}

.service2 > h2{
    font-size: 4.5rem;
    font-family: "Aubrey", system-ui;
    margin-left: 5rem;
    position: relative;
    top: 1.5rem;
    right: 3rem;
}

/** The flex image **/
.sub-service2 > div > div > img{
    width: 2rem;
    height: 2rem;
}

/** The flex layout for the development service **/
.sub-service2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 3rem;
    margin: 5rem;
}

/** To make the image and text inline in the development service **/
.inline-heading2{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

/** Heading for each development service **/
.sub-inline-heading2{
    font-size: 1rem;
}

/** The explanation for the development services **/
.sub-inline-note2{
    width: 20rem;
}

/** The web marketing service **/

.service3{
    background-color: #373339;
    color: white;
    width: 100vw;
    height: 115vh
}

.service3 > h2{
    font-size: 4.5rem;
    font-family: "Aubrey", system-ui;
    margin-left: 5rem;
    position: relative;
    top: 1.5rem;
    right: 3rem;
}

/** The flex image **/
.sub-service3 > div > div > img{
    width: 2rem;
    height: 2rem;
}

/** The flex layout for the web marketing service **/
.sub-service3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 3rem;
    margin: 4rem;
}

/** To make the image and text inline in the web marketing service **/
.inline-heading3{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}


/** Heading for each web marketing service **/
.sub-inline-heading3{
    font-size: 2rem;
}

/** The explanation for the web marketing services **/
.sub-inline-note3{
    width: 20rem;
} 

